*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFDBD4;
    color: #000000;
    line-height: 1.6;
}

nav{
    background-color: #826042;
    padding: 15px;
    text-align: center;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: 0.3s;

}

nav a:hover{
    color: #f5f1ea;
}

main{
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

section{
    background-color: white;
    padding: 40px;
    border-radius: 10px;

    /* sombra suave */
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

section p{
    margin-bottom: 20px;
    font-size: 18px;
}

footer{
    background-color: #47200F;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}